 .u-section-1 {
  min-height: 1006px;
}

.u-section-1 .u-group-1 {
  min-height: 525px;
  height: auto;
  margin: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 80px 80px 40px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 73px;
}

.u-section-1 .u-text-2 {
  margin: 30px 66px 0;
}

.u-section-1 .u-image-1 {
  width: 955px;
  height: 550px;
  margin: -148px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 997px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 541px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 870px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 85px 50px 30px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 414px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 767px;
  }

  .u-section-1 .u-group-1 {
    min-height: 474px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 311px;
    margin-top: -97px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 641px;
  }

  .u-section-1 .u-group-1 {
    width: 440px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 55px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 196px;
    margin-top: -98px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 861px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 812px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-2 .u-text-1 {
  margin: 244px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 812px;
  background-image: url("images/image1.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-2 .u-image-1 {
    min-height: 803px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 1025px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 769px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    min-height: 484px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1122px;
}

.u-section-3 .u-text-1 {
  width: 720px;
  margin: 77px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 1078px;
  margin: 17px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(5, calc(20% - 12.8px));
  min-height: 282px;
  grid-auto-columns: calc(20% - 12.8px);
  grid-gap: 16px;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/image2.png');
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/image3.png');
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/image4.png');
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/image5.png');
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-3 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/image6.png');
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-3 .u-list-2 {
  width: 1088px;
  margin: 2px auto 0 21px;
}

.u-section-3 .u-repeater-2 {
  grid-auto-columns: calc(20% - 4px);
  grid-template-columns: repeat(5, calc(20% - 4px));
  min-height: 49px;
  grid-gap: 5px;
}

.u-section-3 .u-container-layout-6 {
  padding: 10px;
}

.u-section-3 .u-text-2 {
  margin: 0 auto;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 10px;
}

.u-section-3 .u-text-3 {
  margin: 0 auto;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 10px;
}

.u-section-3 .u-text-4 {
  margin: 0 auto;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 10px;
}

.u-section-3 .u-text-5 {
  margin: 0 auto;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-container-layout-10 {
  padding: 10px;
}

.u-section-3 .u-text-6 {
  margin: 0 auto;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-7 {
  margin: -7px 906px 0 31px;
}

.u-section-3 .u-text-8 {
  margin: -317px 687px 0 250px;
}

.u-section-3 .u-text-9 {
  width: 202px;
  margin: -86px auto 0;
}

.u-section-3 .u-text-10 {
  margin: -229px 250px 0 687px;
}

.u-section-3 .u-text-11 {
  margin: -144px 31px 60px 906px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
    margin-top: 3px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 244px;
  }

  .u-section-3 .u-list-2 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 42px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 737px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: -144px;
    margin-right: 587px;
    margin-left: 150px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 150px;
    margin-left: 587px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
    margin-left: 737px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 10.666666666666666px));
    min-height: 496px;
    grid-auto-columns: calc(33.333333333333336% - 10.666666666666666px);
  }

  .u-section-3 .u-list-2 {
    width: 720px;
  }

  .u-section-3 .u-repeater-2 {
    grid-auto-columns: calc(33.333333333333336% - 3.3333333333333335px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 3.3333333333333335px));
    min-height: 162px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 517px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 477px;
    margin-left: 40px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 40px;
    margin-left: 477px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 517px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 8px));
    grid-auto-columns: calc(50% - 8px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-list-2 {
    width: 540px;
  }

  .u-section-3 .u-repeater-2 {
    grid-auto-columns: calc(50% - 2.5px);
    grid-template-columns: repeat(2, calc(50% - 2.5px));
  }

  .u-section-3 .u-text-7 {
    margin-right: 337px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -182px;
    margin-right: 337px;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 337px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 337px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-list-2 {
    width: 340px;
  }

  .u-section-3 .u-repeater-2 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-7 {
    margin-right: 137px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 137px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 137px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 137px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1083px;
}

.u-section-4 .u-text-1 {
  margin: 20px auto 0 39px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 765px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-image-1 {
  filter: brightness(0.75);
  height: 452px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 765px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 21px;
}

.u-section-4 .u-text-2 {
  margin: 20px 7px 0;
}

.u-section-4 .u-image-2 {
  height: 296px;
  margin: 136px 7px 0;
}

.u-section-4 .u-text-3 {
  font-size: 0.625rem;
  margin: 6px 355px 0 7px;
}

.u-section-4 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 22px auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: -283px 619px 60px 71px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 578px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-1 {
    height: 351px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 631px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    height: 240px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-top: 58px;
    margin-right: 262px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 490px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 483px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 301px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    height: 178px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-right: 152px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1497px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 725px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 522px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 300px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    margin-right: 90px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1113px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 456px;
  }

  .u-section-4 .u-image-1 {
    height: 321px;
  }

  .u-section-4 .u-image-2 {
    height: 185px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 913px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 7px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 811px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 49px;
}

.u-section-5 .u-image-1 {
  width: 462px;
  height: 230px;
  margin: 0 3px 0 auto;
}

.u-section-5 .u-image-2 {
  width: 463px;
  height: 231px;
  margin: 30px 2px 0 10px;
}

.u-section-5 .u-image-3 {
  width: 460px;
  height: 230px;
  margin: 30px 3px 0 10px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 793px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 9px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-5 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 669px;
  }

  .u-section-5 .u-image-1 {
    width: 373px;
    height: 186px;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    width: 373px;
    height: 186px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-3 {
    width: 373px;
    height: 187px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 654px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 512px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    width: 300px;
    height: 150px;
  }

  .u-section-5 .u-image-2 {
    width: 300px;
    height: 150px;
  }

  .u-section-5 .u-image-3 {
    width: 300px;
    height: 150px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 768px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 484px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 513px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
}

.u-section-6 .u-image-1 {
  width: 446px;
  height: 389px;
  margin: -408px 77px 0 auto;
}

.u-section-6 .u-image-2 {
  width: 570px;
  height: 43px;
  margin: 7px auto 54px 0;
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-6 .u-image-2 {
    width: 540px;
    height: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 297px;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 26px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 875px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 18px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 747px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-text-1 {
  margin: 18px 210px 0 -120px;
}

.u-section-7 .u-text-2 {
  margin: 0 60px 0 30px;
}

.u-section-7 .u-image-1 {
  width: 538px;
  height: 242px;
  margin: 18px 2px 0 auto;
}

.u-section-7 .u-text-3 {
  font-size: 0.625rem;
  margin: 0 420px 0 30px;
}

.u-section-7 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 6px auto 0 30px;
}

.u-section-7 .u-image-2 {
  min-height: 747px;
  background-image: url("images/image14.png");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 616px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    width: 470px;
    height: 212px;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 350px;
    margin-left: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-7 .u-image-2 {
    min-height: 616px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-image-1 {
    width: 360px;
    height: 162px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 240px;
  }

  .u-section-7 .u-image-2 {
    min-height: 472px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 274px;
  }

  .u-section-7 .u-image-2 {
    min-height: 708px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 275px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 153px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 40px;
  }

  .u-section-7 .u-image-2 {
    min-height: 446px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1003px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 774px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px 127px;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  margin: 19px auto 0 0;
}

.u-section-8 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 774px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-image-1 {
  height: 418px;
  width: 568px;
  margin: 0 auto 0 -11px;
}

.u-section-8 .u-list-1 {
  width: 568px;
  margin: -9px auto 0 -11px;
}

.u-section-8 .u-repeater-1 {
  grid-auto-columns: calc(20% - 8px);
  grid-template-columns: repeat(5, calc(20% - 8px));
  min-height: 375px;
  grid-gap: 10px;
}

.u-section-8 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-8 .u-image-2 {
  width: 94px;
  height: 125px;
  margin: 0 0 0 auto;
}

.u-section-8 .u-text-3 {
  font-size: 0.875rem;
  margin: 0 0 0 12px;
}

.u-section-8 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-8 .u-image-3 {
  width: 94px;
  height: 125px;
  margin: 0 0 0 auto;
}

.u-section-8 .u-text-4 {
  font-size: 0.875rem;
  margin: 0 0 0 12px;
}

.u-section-8 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-8 .u-image-4 {
  width: 94px;
  height: 125px;
  margin: 0 0 0 auto;
}

.u-section-8 .u-text-5 {
  font-size: 0.875rem;
  margin: 0 0 0 12px;
}

.u-section-8 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-8 .u-image-5 {
  width: 94px;
  height: 125px;
  margin: 0 0 0 auto;
}

.u-section-8 .u-text-6 {
  font-size: 0.875rem;
  margin: 0 0 0 12px;
}

.u-section-8 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-8 .u-image-6 {
  width: 94px;
  height: 125px;
  margin: 0 0 0 auto;
}

.u-section-8 .u-text-7 {
  font-size: 0.875rem;
  margin: 0 0 0 12px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 638px;
  }

  .u-section-8 .u-layout-cell-2 {
    background-position: 50% 50%;
    transform-origin: center center 0px;
    transform: scaleX(-1);
    min-height: 638px;
  }

  .u-section-8 .u-image-1 {
    height: 344px;
    width: 468px;
    margin-left: 0;
  }

  .u-section-8 .u-list-1 {
    margin-top: 65px;
    width: 468px;
    margin-left: 0;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 304px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
  }

  .u-section-8 .u-text-4 {
    margin-left: 0;
  }

  .u-section-8 .u-text-5 {
    margin-left: 0;
  }

  .u-section-8 .u-text-6 {
    margin-left: 0;
  }

  .u-section-8 .u-text-7 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 268px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 528px;
  }

  .u-section-8 .u-image-1 {
    height: 263px;
    width: 358px;
  }

  .u-section-8 .u-list-1 {
    width: 358px;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.666666666666667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
    min-height: 811px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 792px;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 2829px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 499px;
  }

  .u-section-8 .u-image-1 {
    height: 250px;
    width: 340px;
  }

  .u-section-8 .u-list-1 {
    width: 340px;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 517px;
}

.u-section-9 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-9 .u-image-1 {
  width: 542px;
  height: 395px;
  margin: -414px 28px 0 auto;
}

.u-section-9 .u-text-2 {
  font-size: 0.875rem;
  margin: 19px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-image-1 {
    height: 396px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 395px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 249px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 34px;
  margin-bottom: 34px;
}

.u-section-10 .u-image-1 {
  min-height: 652px;
  background-image: url("images/image25.png");
}

.u-section-10 .u-container-layout-1 {
  padding: 0 9px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 652px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-10 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-2 {
  margin: 23px 0 0;
}

.u-section-10 .u-image-2 {
  width: 225px;
  height: 225px;
  margin: 30px auto 0 0;
}

.u-section-10 .u-text-3 {
  font-size: 0.875rem;
  margin: 0;
}

.u-section-10 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-10 .u-image-1 {
    min-height: 538px;
    background-position: 50% 50%;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 538px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-10 .u-image-1 {
    min-height: 412px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-10 .u-image-1 {
    min-height: 618px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-10 .u-image-1 {
    min-height: 389px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-11 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 2.25rem;
}

.u-section-11 .u-text-2 {
  margin: 20px 570px 0 0;
}

.u-section-11 .u-image-1 {
  width: 346px;
  height: 587px;
  margin: -149px 66px 0 auto;
}

.u-section-11 .u-text-3 {
  margin: -394px 570px 0 0;
}

.u-section-11 .u-text-4 {
  font-size: 0.875rem;
  margin: 0 570px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-11 .u-image-1 {
    height: 586px;
  }

  .u-section-11 .u-text-3 {
    margin-top: -393px;
    margin-right: 370px;
  }

  .u-section-11 .u-text-4 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 150px;
  }

  .u-section-11 .u-text-4 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-2 {
    margin-right: 0;
  }

  .u-section-11 .u-text-3 {
    margin-right: 0;
  }

  .u-section-11 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-image-1 {
    width: 340px;
    height: 576px;
    margin-right: 0;
  }

  .u-section-11 .u-text-3 {
    margin-top: -383px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 843px;
}

.u-section-12 .u-layout-wrap-1 {
  margin-top: 79px;
  margin-bottom: 34px;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 742px;
}

.u-section-12 .u-container-layout-1 {
  padding: 13px 50px;
}

.u-section-12 .u-text-1 {
  margin: 10px auto 0 10px;
}

.u-section-12 .u-text-2 {
  margin: 11px 10px 0;
}

.u-section-12 .u-image-1 {
  height: 292px;
  margin: 30px 10px 0;
}

.u-section-12 .u-text-3 {
  font-size: 0.875rem;
  margin: 0 auto 0 10px;
}

.u-section-12 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-12 .u-image-2 {
  min-height: 730px;
  background-image: url("images/image29.png");
  background-position: 50% 50%;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 612px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 0;
  }

  .u-section-12 .u-image-1 {
    height: 230px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-12 .u-image-2 {
    min-height: 602px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-12 .u-image-1 {
    height: 186px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-12 .u-image-2 {
    min-height: 461px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-image-1 {
    height: 322px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-12 .u-image-2 {
    min-height: 692px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-12 .u-image-1 {
    height: 198px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-12 .u-image-2 {
    min-height: 436px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 777px;
}

.u-section-13 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 657px;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px 50px 0;
}

.u-section-13 .u-text-1 {
  font-size: 2.25rem;
  margin: 10px 59px 0 10px;
}

.u-section-13 .u-text-2 {
  margin: 18px 0 0 10px;
}

.u-section-13 .u-image-1 {
  min-height: 657px;
  background-image: url("images/image31.png");
  background-position: 50% 50%;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 542px;
  }

  .u-section-13 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-13 .u-text-2 {
    margin-left: 0;
  }

  .u-section-13 .u-image-1 {
    min-height: 542px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-13 .u-image-1 {
    min-height: 415px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-image-1 {
    min-height: 623px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-13 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-13 .u-image-1 {
    min-height: 392px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 713px;
}

.u-section-14 .u-image-1 {
  width: 427px;
  height: 607px;
  margin: 53px 60px 0 auto;
}

.u-section-14 .u-text-1 {
  margin: -508px auto 0 10px;
}

.u-section-14 .u-text-2 {
  font-size: 0.875rem;
  margin: 0 auto 136px 10px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-text-1 {
    margin-top: -507px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-text-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-14 .u-image-1 {
    width: 340px;
    height: 483px;
    margin-right: 0;
  }

  .u-section-14 .u-text-1 {
    margin-top: -383px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 819px;
}

.u-section-15 .u-layout-wrap-1 {
  margin-top: 53px;
  margin-bottom: 53px;
}

.u-section-15 .u-image-1 {
  min-height: 714px;
  background-image: url("images/image33.png");
  background-position: 50% 50%;
}

.u-section-15 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-15 .u-layout-cell-2 {
  min-height: 774px;
}

.u-section-15 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-15 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-15 .u-text-2 {
  margin: 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-15 .u-image-1 {
    min-height: 589px;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 638px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-15 .u-image-1 {
    min-height: 451px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-15 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-15 .u-image-1 {
    min-height: 677px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-15 .u-image-1 {
    min-height: 426px;
  }

  .u-section-15 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 756px;
}

.u-section-16 .u-text-1 {
  margin: 35px auto 0 25px;
}

.u-section-16 .u-image-1 {
  width: 545px;
  height: 595px;
  margin: 1px 25px 0 auto;
}

.u-section-16 .u-text-2 {
  margin: -595px 570px 0 0;
}

.u-section-16 .u-text-3 {
  margin-left: 0;
  margin-right: 570px;
  margin-bottom: 0;
}

.u-section-16 .u-text-4 {
  font-size: 0.875rem;
  margin: 0 570px 59px 0;
}

@media (max-width: 1199px) {
  .u-section-16 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-16 .u-text-3 {
    margin-right: 370px;
  }

  .u-section-16 .u-text-4 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-16 .u-text-3 {
    margin-right: 150px;
  }

  .u-section-16 .u-text-4 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-16 .u-image-1 {
    width: 540px;
    height: 590px;
    margin-right: 0;
  }

  .u-section-16 .u-text-2 {
    margin-top: -590px;
    margin-right: 0;
  }

  .u-section-16 .u-text-3 {
    margin-right: 0;
  }

  .u-section-16 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-16 .u-image-1 {
    width: 340px;
    height: 371px;
  }

  .u-section-16 .u-text-2 {
    margin-top: -371px;
  }
}.u-section-17 .u-sheet-1 {
  min-height: 719px;
}

.u-section-17 .u-text-1 {
  margin: 24px auto 0;
}

.u-section-17 .u-text-2 {
  margin: 18px 360px 0 0;
}

.u-section-17 .u-image-1 {
  width: 369px;
  height: 300px;
  margin: -461px 0 0 auto;
}

.u-section-17 .u-image-2 {
  width: 369px;
  height: 300px;
  margin: 0 0 34px auto;
}

@media (max-width: 1199px) {
  .u-section-17 .u-text-2 {
    margin-right: 160px;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-17 .u-image-1 {
    width: 340px;
    height: 276px;
  }

  .u-section-17 .u-image-2 {
    width: 340px;
    height: 276px;
  }
}.u-block-edaa-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-edaa-3 {
  position: absolute;
  left: 0;
}

.u-block-edaa-4 {
  position: absolute;
  right: 0;
}

.u-section-18-1 .u-sheet-1 {
  min-height: 823px;
}

.u-section-18-1 .u-image-1 {
  filter: brightness(0.6);
  width: 406px;
  height: 709px;
  margin: -53px auto 0;
}

.u-section-18-1 .u-text-1 {
  width: 837px;
  margin: 33px auto 58px;
}

@media (max-width: 1199px) {
  .u-section-18-1 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-18-1 .u-image-1 {
    height: 708px;
    margin-top: 424px;
  }

  .u-section-18-1 .u-text-1 {
    margin-top: -269px;
  }
}

@media (max-width: 991px) {
  .u-section-18-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-18-1 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-18-1 .u-text-1 {
    width: 540px;
    margin-top: -248px;
  }
}

@media (max-width: 575px) {
  .u-section-18-1 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-18-1 .u-image-1 {
    width: 340px;
    height: 593px;
    margin-top: 462px;
  }

  .u-section-18-1 .u-text-1 {
    width: 340px;
    margin-top: -146px;
  }
}

.u-section-18-2 .u-sheet-1 {
  min-height: 823px;
}

.u-section-18-2 .u-image-1 {
  filter: brightness(0.6);
  width: 406px;
  height: 709px;
  margin: -53px auto 0;
}

.u-section-18-2 .u-text-1 {
  width: 837px;
  margin: 33px auto 58px;
}

@media (max-width: 1199px) {
  .u-section-18-2 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-18-2 .u-image-1 {
    height: 708px;
    margin-top: 424px;
  }

  .u-section-18-2 .u-text-1 {
    margin-top: -269px;
  }
}

@media (max-width: 991px) {
  .u-section-18-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-18-2 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-18-2 .u-text-1 {
    width: 540px;
    margin-top: -248px;
  }
}

@media (max-width: 575px) {
  .u-section-18-2 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-18-2 .u-image-1 {
    width: 340px;
    height: 593px;
    margin-top: 462px;
  }

  .u-section-18-2 .u-text-1 {
    width: 340px;
    margin-top: -146px;
  }
}

.u-section-18-3 .u-sheet-1 {
  min-height: 823px;
}

.u-section-18-3 .u-image-1 {
  filter: brightness(0.6);
  width: 406px;
  height: 709px;
  margin: -53px auto 0;
}

.u-section-18-3 .u-text-1 {
  width: 837px;
  margin: 33px auto 58px;
}

@media (max-width: 1199px) {
  .u-section-18-3 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-18-3 .u-image-1 {
    height: 708px;
    margin-top: 424px;
  }

  .u-section-18-3 .u-text-1 {
    margin-top: -269px;
  }
}

@media (max-width: 991px) {
  .u-section-18-3 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-18-3 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-18-3 .u-text-1 {
    width: 540px;
    margin-top: -248px;
  }
}

@media (max-width: 575px) {
  .u-section-18-3 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-18-3 .u-image-1 {
    width: 340px;
    height: 593px;
    margin-top: 462px;
  }

  .u-section-18-3 .u-text-1 {
    width: 340px;
    margin-top: -146px;
  }
}

.u-section-18-4 .u-sheet-1 {
  min-height: 823px;
}

.u-section-18-4 .u-image-1 {
  filter: brightness(0.6);
  width: 406px;
  height: 709px;
  margin: -53px auto 0;
}

.u-section-18-4 .u-text-1 {
  width: 837px;
  margin: 33px auto 58px;
}

@media (max-width: 1199px) {
  .u-section-18-4 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-18-4 .u-image-1 {
    height: 708px;
    margin-top: 424px;
  }

  .u-section-18-4 .u-text-1 {
    margin-top: -269px;
  }
}

@media (max-width: 991px) {
  .u-section-18-4 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-18-4 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-18-4 .u-text-1 {
    width: 540px;
    margin-top: -248px;
  }
}

@media (max-width: 575px) {
  .u-section-18-4 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-18-4 .u-image-1 {
    width: 340px;
    height: 593px;
    margin-top: 462px;
  }

  .u-section-18-4 .u-text-1 {
    width: 340px;
    margin-top: -146px;
  }
}

.u-section-18-5 .u-sheet-1 {
  min-height: 823px;
}

.u-section-18-5 .u-image-1 {
  filter: brightness(0.6);
  width: 406px;
  height: 709px;
  margin: -53px auto 0;
}

.u-section-18-5 .u-text-1 {
  width: 837px;
  margin: 33px auto 58px;
}

@media (max-width: 1199px) {
  .u-section-18-5 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-18-5 .u-image-1 {
    height: 708px;
    margin-top: 424px;
  }

  .u-section-18-5 .u-text-1 {
    margin-top: -269px;
  }
}

@media (max-width: 991px) {
  .u-section-18-5 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-18-5 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-18-5 .u-text-1 {
    width: 540px;
    margin-top: -248px;
  }
}

@media (max-width: 575px) {
  .u-section-18-5 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-18-5 .u-image-1 {
    width: 340px;
    height: 593px;
    margin-top: 462px;
  }

  .u-section-18-5 .u-text-1 {
    width: 340px;
    margin-top: -146px;
  }
}.u-section-19 .u-sheet-1 {
  min-height: 803px;
}

.u-section-19 .u-text-1 {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

.u-section-19 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}